<ion-header>
  <ion-toolbar>
    <ion-title>Gestionar Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let cita of citas; let i = index">
      <ion-label>
        <h2>{{ cita.frase }}</h2>
        <p>- {{ cita.autor }}</p>
      </ion-label>
      <ion-button color="danger" (click)="eliminarCita(i)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="floating">Nueva Frase</ion-label>
    <ion-input [(ngModel)]="nuevaFrase"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Autor</ion-label>
    <ion-input [(ngModel)]="nuevoAutor"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="agregarCita()">Agregar Cita</ion-button>
</ion-content>
